:root {
    --padding-x: 40px;
}

.footer {
    padding-top: var(--padding-x);
    padding-bottom: var(--padding-x);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    row-gap: 12px;
}

.contentContainer {
    border-top: 1px solid var(--border);
    width: 100%;
    background: var(--accent-bg);
}

.icon {
    display: flex;
    gap: 12px;
    align-items: center;
}

.links {
    display: flex;
    gap: 40px;
}

.links .about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--description);
}

.links .about > * {
    width: max-content;
}

.links .social > * {
    display: flex;
    gap: 8px;
    align-items: center;
}

.links .social > * > * {
    height: 100%;
    width: auto;
}
