@import "./variables.css";

.topBar {
    background-color: var(--accent);
    height: var(--navbar-height);
    min-height: var(--navbar-height);
    box-sizing: border-box;
    padding: 4px 16px;
    display: flex;
    color: white;
    border-bottom: 1px solid var(--accent-border);
    align-items: center;
    gap: 16px;
}

.messages {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.back {
    cursor: pointer;
    padding: 8px;
    display: none;
}

@media screen and (max-width: 1200px) {
    .back {
        display: block;
    }
}

.messages * {
    color: white;
}

.usernamesContainer {
    display: flex;
    justify-content: space-between;
    width: max-content;
    overflow: hidden;
}
.usernamesContainer p {
    margin-right: 12px;
    color: var(--text-description);
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    background-color: var(--accent-bg);
    border-collapse: collapse;
}

.chatBarClose {
    grid-template-columns: 2fr 3fr;
}

.chatBarOpen {
    grid-template-columns: 2fr 3fr;
}

@media screen and (max-width: 1200px) {
    .chatBarClose {
        grid-template-columns: 0 1fr;
    }

    .chatBarOpen {
        grid-template-columns: 1fr 0;
    }
}
