@import "./variables.css";

.messagesContainer {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.clientMessage {
    border-radius: var(--message-major-border-radius);
    border-top-right-radius: var(--message-minor-border-radius);
    corner-shape: circle;
    align-self: flex-end;
    background-color: var(--client-message-color);
}

.otherMessage {
    border-radius: var(--message-major-border-radius);
    border-top-left-radius: var(--message-minor-border-radius);
    background-color: var(--other-message-color);
    align-self: flex-start;
}

.message {
    display: inline-flex;
    flex-direction: column;
    padding: 2px 8px;
    max-width: 60%;
    width: fit-content;
}

.messageContent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 6px;
    min-width: 0;
}

.content {
    overflow-wrap: anywhere;
    min-width: 0;
}

.chat {
    display: flex;
    gap: 4px;
    height: min-content;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 20px;
    width: 100%;

    justify-content: flex-end; /* 👈 THIS is the key */
    min-height: 100%;
}

.messages {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.messages * {
    color: white;
}

svg {
    transition: stroke ease 0.1s;
}

p.date {
    font-size: small;
    color: var(--text-description);
}

.info {
    display: flex;
    gap: 12px;
    user-select: none;
    align-items: center;
    justify-content: space-between;
}
