@import "./variables.css";

.messagesContainer {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.clientMessage {
    border-radius: var(--message-major-border-radius);
    border-top-right-radius: var(--message-minor-border-radius);
    corner-shape: circle;
    align-self: flex-end;
    background-color: var(--client-message-color);
}

.otherMessage {
    border-radius: var(--message-major-border-radius);
    border-top-left-radius: var(--message-minor-border-radius);
    background-color: var(--other-message-color);
    align-self: flex-start;
}

.message {
    width: max-content;
    overflow-wrap: break-word;
    max-width: 60%;
    padding: 2px 8px;
}

.chat {
    display: flex;
    gap: 4px;
    height: auto;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 20px;
}

.messages {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.messages * {
    color: white;
}

svg {
    transition: stroke ease 0.1s;
}
