@import "./variables.css";
.chats {
    height: 100vh;
    overflow-y: auto;
    background-color: var(--accent);
    border-left: 1px solid var(--accent-border);
    border-right: 1px solid var(--accent-border);
    display: flex;
    flex-direction: column;
}

.chats .chatButton,
.content {
    min-width: 0;
    overflow-wrap: anywhere;
    background-color: hsl(215, 40%, 19%);
    color: white;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    border: 0;
}

@media screen and (max-width: 1200px) {
    .chats {
        display: none;
    }
}

.chatsResponsive {
    display: flex;
}

.content {
    height: 100%;
}

.chats .chatButton {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--chat-height);
    min-height: var(--chat-height);
    max-height: var(--chat-height);
    padding: 8px;
    border-bottom: 1px solid var(--accent-border);
    cursor: pointer;
}

.chatLink {
    text-decoration: none;
    font-weight: normal; /* this needs to be here because of Mantine Indicator component */
}

.chatLink::before {
    content: "";
    background-color: black;
    top: 0;
    right: 0;
    width: 100%;
}

.chats .chatButton:hover {
    filter: brightness(1.4);
}

.icon {
    height: calc(100% - 4px);
    width: auto;
    object-fit: cover;
    object-position: center;
}

.newChat {
    background-color: var(--accent-bg-light);
    border: 0;
    box-shadow: 0 4px 4px black;
    border-radius: 8px;
    padding: 16px;
}

.menuButton {
    font-size: medium;
    background-color: transparent;
    border: 0;
}

.menuButton:hover {
    font-weight: bold;
}

.dropdown {
    background-color: var(--accent-dark);
    border: 0;
}

.item:hover {
    background-color: transparent;
    font-weight: bold;
}
