@import "./variables.css";
.chats {
    overflow-y: auto;
    background-color: var(--accent);
    border-left: 1px solid var(--accent-border);
    border-right: 1px solid var(--accent-border);
    position: relative;
    display: flex;
    flex-direction: column;
}

.chats .chatButton {
    height: var(--chat-height);
    min-height: var(--chat-height);
    max-height: var(--chat-height);
    overflow-wrap: anywhere;
    background-color: hsl(215, 40%, 19%);
    color: white;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    border: 0;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid var(--accent-border);
}

.chatLink {
    text-decoration: none;
}

.chats .chatButton:hover {
    filter: brightness(1.4);
}

.icon {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.newChat {
    background-color: var(--accent-bg-light);
    border: 0;
    box-shadow: 0 4px 4px black;
    border-radius: 8px;
    padding: 16px;
}
