@import "./variables.css";

.home {
    border-collapse: collapse;
    background-color: var(--accent-bg);
    height: 100vh;
}

.input {
    flex-shrink: 0;
}

.main {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
}
