@import "./variables.css";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: var(--bg-dark);
}

.error {
    background-color: red;
    color: white;
}

.form {
    width: clamp(200px, 100%, 1200px);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--border);
    padding: 16px 40px 40px 40px;
    border-radius: 16px;
    width: 40%;
    min-width: max-content;
}

@media screen and (min-width: 1280px) {
    .formContainer {
        border: 0;
    }

    .main {
        align-items: flex-start;
        padding-left: 12%;
    }
}
