@import "./variables.css";

.sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--accent-bg);
}

.account {
    background-color: transparent;
    border: 0;
}

.account,
.account img {
    width: 100%;
    height: auto;
}

.account:hover {
    cursor: pointer;
}

.menu {
    background-color: var(--accent-bg-light);
    position: absolute;
    /* left: calc(100% + 20px); */
    left: calc(var(--sidebar-width) - 4px);
    /* transform: translateY(-50%); */
    z-index: 1;
    margin: 0;
    width: fit-content;
    max-width: 400px;
    min-width: 60px;
    border-radius: 8px;
    border: 2px solid var(--accent-border);
    padding: 16px;
    cursor: default;
}

.item {
    position: relative;
}
