@import "./styles/variables.css";

html {
    color-scheme: light dark;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--accent-light-2xl);
}

#root {
    overflow: hidden;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
    margin: 0;
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
p {
    margin: 0;
}
